<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headstuff">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Galaxy Master</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins" rel="stylesheet">
    <style>
        .jumbotron {
            margin-top: 20px;
            background-image: url("https://res.cloudinary.com/dh18h6lff/image/upload/v1553885035/company.jpg");
            background-size:cover;
            color: black;
            margin-bottom: 0px;
        }
        .headerfont{
            font-family: 'Kaushan Script', cursive;}

        .timesheetfont{
            font-family: 'Poppins', sans-serif;}

    </style>
</head>
<body>


<div th:fragment="galaxy" class="jumbotron">
    <h3 class="headerfont" align="center">Galaxy Master</h3>
    <p class="timesheetfont" align="center">Timesheet Workflow Application</p><br/>
</div>


<!--NAVBAR STUFF-->

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#"></a>
    <span class="nav-item" sec:authorize="isAuthenticated()">Welcome, <span th:text="${#authentication.name}"></span></span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" sec:authorize="isAuthenticated()">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <!--<div sec:authorize="isAuthenticated()">-->
                <a class="nav-item nav-link" href="/mytimesheet">My Timesheets</a>
                <a class="nav-item nav-link" href="/personalinfo">Info</a>
                <a class="nav-item nav-link" href="/timesheetentry">Enter Timesheet</a>
                <a class="nav-item nav-link" href="/paystub">Paystubs</a>
                <a class="nav-item nav-link" href="/action">Actions</a>

            <!--<a class="nav-item nav-link" href="/personalinfo">Pricing</a>-->
                <div sec:authorize="hasAuthority('SUPER')">
                    <a class="nav-item nav-link" href="/tslist">List of Timesheets</a>
                </div>
                <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
            <!--</div>-->
        </div>
    </div>
    </button>
</nav>



<!--END NAVBAR STUFF-->


<!--FOOTER STUFF-->

<div th:fragment="foot">
    <footer class="footer mt-auto py-3" >
        <div class="container">
            <span class="text-muted text-center">&copy; Galaxy Master 2019</span>
        </div>
    </footer>
</div>
<!--END FOOTER STUFF-->

<!--JAVASCRIPT STUFF-->

<th:block th:fragment="jslinks">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</th:block>

<!--END JAVASCRIPT STUFF-->

</body>
</html>