<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>
<nav th:replace="base :: navbar"></nav>


<h4>New User Registration</h4>
<form class="form-group" autocomplete="off"
      action="#"
      th:action="@{/editprofile}"
      th:object="${user}" method="post" enctype="multipart/form-data">
<input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{email}" />
    <input type="hidden" th:field="*{password}"/>
    <input th:type="hidden" th:field="*{enabled}"/>
    Department<select th:field="*{department}" class="form-control input-md">
    <option th:each="option: ${departments}"
            th:value="${option.id}">[[${option.departmentName}]]</option>
</select>

    First Name<strong>
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">First Name Error</span></strong>
    <input class="form-control" type="text" id="firstName" placeholder="First Name"
           th:field="*{firstName}"/><br/>

    Last Name<strong>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Last Name Error</span></strong>
    <input class="form-control" type="text" id="lastName" placeholder="Last Name"
           th:field="*{lastName}"/><br/>

    Social Security Number<strong>
    <span th:if="${#fields.hasErrors('social')}"
          th:errors="*{social}">Social Security Error</span></strong>
    <input class="form-control" type="text" id="social" placeholder="Social"
           th:field="*{social}"/><br/>

    City<strong>
    <span th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">City Error</span></strong>
    <input class="form-control" type="text" id="city" placeholder="City"
           th:field="*{city}"/><br/>

    State<strong>
    <span th:if="${#fields.hasErrors('state')}"
          th:errors="*{state}">State Error</span></strong>
    <input class="form-control" type="text" id="state" placeholder="State"
           th:field="*{state}"/><br/>

    Zip Code<strong>
    <span th:if="${#fields.hasErrors('zip')}"
          th:errors="*{zip}">Zip Code Error</span></strong>
    <input class="form-control" type="text" id="zip" placeholder="Zip Code"
           th:field="*{zip}"/><br/>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<nav th:replace="base :: foot"></nav>
<th:block th:replace="base :: jslinks"></th:block>

</body>
</html>
