<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<h1>HELLLOOO THERE</h1>
<div th:each="timesheet : ${timesheets}">
    <!--<p th:text="${timesheet.payCode}"></p>-->
    <!--<p th:text="${timesheet.date}"></p>-->
    <p>hi again!!!</p>
    <p th:text="${timesheet.startTime}"></p>
    <p th:text="${timesheet.endTime}"></p>
    <p th:text="${timesheet.hoursWorked}"></p>
    <!--<p>Weekly Pay</p>-->
    <!--<p th:result="${timesheet.hoursWorked }"></p>-->
</div>




<nav th:replace="base :: foot"></nav>
<th:block th:replace="base :: jslinks"></th:block>


</body>
</html>