<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff">
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<h5>Personal Information</h5>
<h6>First Name</h6>
<p th:text="${user.firstName}"></p>
<h6>Last Name</h6>
<p th:text="${user.lastName}"></p>
<h6>Username</h6>
<p th:text="${user.username}"></p>
<h6>Email</h6>
<p th:text="${user.email}"></p><br/>
<h6>City</h6>
<p th:text="${user.city}"></p>
<h6>State</h6>
<p th:text="${user.state}"></p>
<h6>Zip</h6>
<p th:text="${user.zip}"></p><br/>
<h6>Social Security Number</h6>
<p th:text="${user.social}"></p><br/>
<span>
    <a th:href="@{/update/{id}(id=${user.id})}">Update</a>
</span></div>

<nav th:replace="base :: foot"></nav>


<th:block th:replace="base :: jslinks"></th:block>

</body>
</html>