<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Timesheet Entry</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h2 align="center">Enter Your Time</h2>
        <form action="#" th:action="@{/timesheetentryprocess}" method="post">
            <fieldset id="timesheet-rows" name="tsTimes">
                <legend>Enter Your Time</legend>

                <div class="timesheet-row">

                    <label>Pay Code:
                        <select name="payCode[]" th:field="*{payCode}" required>
                            <option value="">Regular</option>
                            <option value="">Leave Without Pay</option>
                            <option value="">Annual Leave</option>
                            <option value="">Comp Time Used</option>
                            <option value="">Holiday</option>
                            <option value="">Holiday Worked</option>
                            <option value="">Regular Overtime</option>
                            <option value="">Holiday Overtime</option>
                        </select>
                    </label>
                    <label>Start Time:
                        <input type="number" th:field="*{startTime}" step="0.25" name="startTime width="1" placeholder="2.0" required />
                    </label>
                    <label>End Time:
                        <input type="number" th:field="*{endTime}" step="0.25" name="endTime" width="1" placeholder="2.0" required />
                    </label>

                    <label>Hours:
                        <input type="number" th:field="*{hoursWorked}" step="0.25" name="hours[]" width="1" placeholder="2.0" required />
                    </label>

                </div>

                <input type="button" id="add-row" name="add-row" value="Add row" />
            </fieldset>

            <!--Pay Codes : <select class="form-control" th:field="*{payCode}">-->
            <!--<option value="">Regular</option>-->
            <!--<option value="">Leave Without Pay</option>-->
            <!--<option value="">Annual Leave</option>-->
            <!--<option value="">Comp Time Used</option>-->
            <!--<option value="">Holiday</option>-->
            <!--<option value="">Holiday Worked</option>-->
            <!--<option value="">Regular Overtime</option>-->
            <!--<option value="">Holiday Overtime</option>-->

        <!--</select><br/>-->

            <!--Date : <input type="date" class="form-control" th:field="*{date}" placeholder="" required name="date"/><br/>-->

            <!--Start Time : <input type="time" class="form-control" th:field="*{startTime}" placeholder="Enter Start Time" required/><br/>-->

            <!--End Time : <input type="time" class="form-control" th:field="*{endTime}" placeholder="Enter End Time" required/><br/>-->

            <!--Total Hours Worked : <input type="number" class="form-control" th:field="*{hoursWorked}" placeholder="Enter total hours" required/><br/>-->

            <input class="btn-sm btn-success btn" type="submit" name="SUBMIT"/><br/><br/>
        </form>



    </div>
</div>
<script th:src="@{/tsform.js}"></script>

</body>
</html>