<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Timesheet Entry</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h2 align="center">Enter Your Time</h2>
        <form action="#" th:action="@{/timesheetentryprocess}" th:object="${timeSheet}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <fieldset id="timesheet-rows" name="tsTimes">
                <legend>Enter Your Time</legend>

                <div class="timesheet-row">



                    <label>Pay Code:
                        <select name="payCode"  required>
                             <option value="45">Regular</option>
                            <option value="0">Leave Without Pay</option>
                            <option value="45">Annual Leave</option>
                            <option value="45">Comp Time Used</option>
                            <option value="0">Holiday</option>
                            <option value="67.5">Holiday Worked</option>
                            <option value="67.5">Regular Overtime</option>
                            <option value="80">Holiday Overtime</option>
                        </select>
                    </label>
                    <label>Date : <input type="date" class="form-control" name="date" placeholder="" required/></label>
                    <label>Start Time:
                        <input type="time" step="0.25" name="startTime" width="1" placeholder="2.0" required />
                    </label>
                    <label>End Time:
                        <input type="time" step="0.25" name="endTime" width="1" placeholder="2.0" required />
                    </label>

                    <label>Hours:
                        <input type="number" step="0.25" name="hours" width="1" placeholder="2.0" required />
                    </label>

                </div>

                <input type="button" id="add-row" name="add-row" value="Add row" />
            </fieldset>
            <br>
            <input class="btn-sm btn-success btn" type="submit" name="SUBMIT"/><br/><br/>
        </form>



    </div>
</div>
<script th:src="@{/tsform.js}"></script>

</body>
</html>